<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank you</title>
    <link rel="stylesheet" href="css/end.css" type="text/css"/>
</head>
<body>
    <p>Thank you for participating in this study. Please close your browser to exit.</p>
</body>
</html>