<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css" type="text/css" />
    <title>Home</title>
</head>
<body>
    <div class="shadowed-container">
        <form action="/login" method="POST">
            Login
            <input type="text" id="username" name="username" placeholder="Enter your username"/>
            <input type="submit" vlaue="Long In"/>
            <h2 class="err"><%= errmessage %></h2>
        </form>
    </div>
</body>
</html>